//These files are required by bootstrap on compilation
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
//----------------------------------

$enable-rounded: false;

// Cards
$card-bg: rgba($black, .7);
$card-cap-bg: 0;
$card-cap-color: $white;
$card-color: $white;

$card-border-color: rgba($white, .7);

// List Group

$list-group-bg: rgba($black, 0);
$list-group-border-color: rgba($white, .2);