//Required by bootstrap
@import "require";

//Bootstrap components
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/type";

//Custom class

html {
  height: 100%;
  body {
    height: inherit;
    background: black;
    overflow: hidden;
  }
}

.navbar {
  top: 0;
  width: 100%;
  z-index: 1;
}

.gradient-black-transparent {
  background: linear-gradient(0deg, transparent, black);
}

#blackGradient-left {
  width: 30%;
  height: inherit;
  position: absolute;
  left: 0;
  background: linear-gradient(0.25turn, $black, transparent);
  z-index: 1;
}

#blackGradient-right {
  width: 30%;
  height: inherit;
  position: absolute;
  right: 0;
  background: linear-gradient(0.25turn, transparent, $black);
  z-index: 1;
}

/*@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
  .card {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}*/

#dashboard {
  height: inherit;
  & > .row {
    height: inherit;
    transform-style: preserve-3d;
    perspective: 1000px;

    & > div {
      & > .card {
        animation: ease-in-out static-move 20s infinite;
      }
      &:nth-child(1) {
        left:0;
      }

      &:nth-child(3) {
        right: 0;
      }
    }
  }
}

@keyframes static-move {
  0% {
    transform: translateX(5px) translateY(0);
  }
  10% {
    transform: translateX(0px) translateY(10);
  }
  25% {
    transform: translateX(-5px) translateY(20px);
  }
  40% {
    transform: translateX(-10px) translateY(10px);
  }
  50% {
    transform: translateX(-5px) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(10px);
  }
  75% {
    transform: translateX(5px) translateY(20px);
  }
  90% {
    transform: translateX(10px) translateY(10px);
  }
  100% {
    transform: translateX(5px) translateX(0);
  }
}

@for $num from 1 through 3 {
  #dashboard div:nth-child(#{$num}) > .card {
    animation-delay: ($num - 1) * 1s;
  }
}

/*DashBoard Background*/

$size: 50%;

$d: $size * .5;
$ang: .7071;
$a: $d * $ang;

.base {
  width: $size * 2;
  height: $size * 2;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circ {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 10px solid #ADD8E6;
  margin: auto;
  opacity: 0.1;
  top: 0; left: 0; right: 0; bottom: 0;
}

.base .circ {
  &:nth-child(1) {
    transform: translate($d, 0);
  }
  &:nth-child(2) {
    transform: translate(0, $d);
  }
  &:nth-child(3) {
    transform: translate($d * -1, 0);
  }
  &:nth-child(4) {
    transform: translate(0, $d * -1);
  }
  &:nth-child(5) {
    transform: translate($a, $a);
  }
  &:nth-child(6) {
    transform: translate($a, -$a);
  }
  &:nth-child(7) {
    transform: translate(-$a, $a);
  }
  &:nth-child(8) {
    transform: translate(-$a, -$a);
  }
}
.base:nth-child(2) {
  transform: rotate(.1turn);
}

@for $i from 2 through 8 {
  .base:nth-child(#{$i}) {
    transform: rotate($i * .1turn);
    animation: turn-#{$i} 6s ease-in-out infinite alternate;
    animation-duration: 1.5s * $i;
    @keyframes turn-#{$i} {
      to { transform: rotate($i * (1 / 8) * 1urn); }
      from { transform: rotate(0);}
    }

    .circ {
      background: rgba(#000, .05);
    }
  }
}
// Glitch Text Effect

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  position: absolute;
  color: white;
  opacity: 0;

  &::before{
    // Duplicates our text with the mixin.
    @include glitchCopy;
    // Scoots text slightly to the left for the color offset.
    left: 2px;
    // Creates the color 'shadow' that happens on the glitch.
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}

@keyframes glitch-opacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@for $i from 1 through 8 {
  .glitch:nth-child(#{$i}) {
    animation: glitch-skew 1s infinite linear alternate-reverse, glitch-opacity 80s infinite linear;
    animation-delay: 0s,($i - 1) * 10s;
  }
}